.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  min-height: 100svh;
 
  font-family: var(--font-geist-sans);
}

.page h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.page p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}


.connect-btn {
  background-color: #f2f2f2;
  color: black;
  padding: 16px 32px;
  border-radius: 30px;
  margin: 5rem;
}

.connect-btn:hover {
  background-color: var(--button-primary-hover);
  color: white;
}


.email-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  
}

.email-wrapper input {
  padding: 16px 32px;
  border-radius: 30px;
  border: 1px solid var(--gray-alpha-100);
  width: 100%;
}

.email-wrapper input:focus {
  border: 1px solid var(--gray-alpha-200);
}

.email-wrapper button {
  background-color: #f2f2f2;
  color: black;
  padding: 16px 32px;
  border-radius: 30px;
  border: none;
  width: 100%;
  margin-top: 2rem;
}

.twitter-share {
width: 100%;
text-align: center;
}